@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    color: #101727;
}

.primary-btn {
    background: linear-gradient(90deg, #4F39F6, #9514FA);
    color: #ffffff;
}

.primary-text {
    background: linear-gradient(to right, #4F39F6, #9514FA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gray-color {
    color: #627382;
}